<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientRESTAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="prog1" value="Notepad++"/>
		<add key="path1" value="notepad++.exe"/>
		<add key="prog2" value="Adobe"/>
		<add key="path2" value="Acrobat.exe"/>
		<add key="prog3" value="Chrome"/>
		<add key="path3" value="chrome.exe"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ClientRESTAPI.Properties.Settings>
      <setting name="Rol" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tipo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Dni" serializeAs="String">
        <value />
      </setting>
      <setting name="Dinero" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fecha" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="compraClienteDni" serializeAs="String">
        <value />
      </setting>
      <setting name="compraProductoId" serializeAs="String">
        <value />
      </setting>
      <setting name="compraId" serializeAs="String">
        <value />
      </setting>
    </ClientRESTAPI.Properties.Settings>
  </userSettings>
</configuration>
